@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@font-face {
  font-family: "Apoc";
  src: url("/assets/Apoc-Regular-Trial.woff2") format("woff2");
}

html {
  font-size: 1.2vw;
  background-color: darkgray;
}

body {
  overflow: hidden;
  font-family: "Apoc", "Times New Roman", Times, serif;
  color: #fff;
}

.preloader {
  background-color: #fff;
  color: #000;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.preloader-done {
  opacity: 0;
  pointer-events: none;
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.appearing {
  -webkit-animation: load 1000ms ease-in;
          animation: load 1000ms ease-in;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.content {
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
  position: absolute;
}

@media only screen and (max-width: 640px) {
  .content {
    width: calc(100vw - 5rem);
    height: calc(100vh - 5rem);
    padding: 2.5rem;
  }
}

.content-loading {
  display: none;
  visibility: hidden;
}

.headline {
  -webkit-animation-delay: calc(1 * 200ms);
          animation-delay: calc(1 * 200ms);
  mix-blend-mode: difference;
}

.headline h1 {
  font-size: 10rem;
}

@media only screen and (max-width: 640px) {
  .headline h1 {
    font-size: 14rem;
  }
}

@media only screen and (max-width: 640px) {
  .headline {
    margin-bottom: 2rem;
  }
}

.text {
  -webkit-animation-delay: calc(2 * 200ms);
          animation-delay: calc(2 * 200ms);
}

.text h2 {
  font-size: 4rem;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 640px) {
  .text h2 {
    line-height: 110%;
  }
}

.bits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.bit {
  -webkit-transition: all 1.3s ease-in;
  transition: all 1.3s ease-in;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  opacity: 0;
}

.bit-visible {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
}

.technical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-animation-delay: calc(3 * 200ms);
          animation-delay: calc(3 * 200ms);
}

@media only screen and (max-width: 640px) {
  .technical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.technical .button {
  background-color: #fff;
  color: black;
  cursor: pointer;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 640px) {
  .technical .button {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.technical .button:hover {
  background-color: #e3e3e3;
}

.pill {
  background-color: #88ff86;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.35rem;
  color: black;
}

@media only screen and (max-width: 640px) {
  .pill {
    padding: 1.9rem;
    border-radius: 2.3rem;
    font-size: 3.4rem;
    line-height: 110%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qr .circle {
  border-radius: 0.4vw;
  width: 6vw;
  height: 6vw;
  margin-bottom: 1.5vw;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.qr .qr-code {
  width: 100%;
  height: 100%;
}

.qr .qr-code img {
  width: 100%;
}

.credits {
  width: calc(100vw - 1rem);
  position: fixed;
  z-index: 1;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  mix-blend-mode: difference;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .credits {
    padding: 0.5rem;
    mix-blend-mode: difference;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.credits a {
  color: #fff;
  text-decoration: none;
}

.credits a:hover {
  color: yellow;
}

.blend {
  mix-blend-mode: difference;
}

.blink {
  -webkit-animation: blink 1s infinite alternate ease-in-out;
          animation: blink 1s infinite alternate ease-in-out;
}

@-webkit-keyframes blink {
  from {
    color: #000;
  }
  to {
    color: #fff;
  }
}

@keyframes blink {
  from {
    color: #000;
  }
  to {
    color: #fff;
  }
}

@-webkit-keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */